<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cmssync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CMSSync.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="SourceADCredentials" type="Cmssync.ADCredentialsConfigurationSection, Cmssync"/>
    <section name="DestinationADCredentials" type="Cmssync.ADCredentialsConfigurationSection, Cmssync"/>
    <section name="ADHintSettings" type="Cmssync.ADHintsConfigurationSection, Cmssync"/>
    <section name="OUsDNToMonitorSettings" type="Cmssync.Configure.OUsDNToMonitorConfigurationSection, Cmssync"/>
  </configSections>
  <applicationSettings>
    <Cmssync.Settings>
      <setting name="CCMHost" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CCMPort" serializeAs="String">
        <value>32456</value>
      </setting>
      <setting name="CCMCPRFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ADPollingInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ServiceHealthCheckInterval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="LogVerbose" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OUsToMonitor" serializeAs="String">
        <value />
      </setting>
      <setting name="CCMCertificateSerial" serializeAs="String">
        <value>00A3279B81916EB404</value>
      </setting>
      <setting name="CCMCertificateIssuer" serializeAs="String">
        <value>CN = ActivIdentity Generated Ca</value>
      </setting>
      <setting name="DataMismatchLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InterCCMSpacing" serializeAs="String">
        <value>5</value>
      </setting>
    </Cmssync.Settings>    
  </applicationSettings>  

  <SourceADCredentials>
    <ADServers>
      <ADServer url="192.168.8.176" user="snickers" allowClearLDAP="y"
        password="=$enc:9LNjp29lpgdElDRzNbnoLg==" />
    </ADServers>
  </SourceADCredentials>

  <DestinationADCredentials>
    <ADServers>
      <ADServer url="itsrv1.egar.egartech.com" user="snickers" allowClearLDAP="y"
        password="=$enc:9LNjp29lpgdElDRzNbnoLg==" />
      <ADServer url="192.168.8.176" user="snickers" allowClearLDAP="y"
        password="=$enc:9LNjp29lpgdElDRzNbnoLg==" />
    </ADServers>
  </DestinationADCredentials>

  <OUsDNToMonitorSettings>
   <OUsDNs>
    <!--<add Value="OU=Paris,OU=eGar Technology,DC=egar,DC=egartech,DC=com"/>-->
    <add Value="OU=4-Gomel,OU=eGar Technology,DC=egar,DC=egartech,DC=com"/>
   </OUsDNs>
  </OUsDNToMonitorSettings>
  
  <ADHintSettings>
    <ADHints>
      <ADHint Num="0" Type="Terminate_Create" DestOU="OU=4-gomel,OU=eGar Technology,DC=egar,DC=egartech,DC=com"  CardPolicy="Z">
      <!-- below are rules for match this hint -->
        <HintAttributes>
          <HintAttribute Name="memberOf">
            <HintAttributeValues>
              <add Value="CN=Exchange Services,CN=Users,DC=egar,DC=egartech,DC=com"/>
              <add Value="CN=Enterprise Admins,OU=_Groups,OU=1-Moscow,OU=eGar Technology,DC=egar,DC=egartech,DC=com"/>
            </HintAttributeValues>
          </HintAttribute>
          <HintAttribute Name="facsimileTelephoneNumber">
            <HintAttributeValues>
              <add Value="NULL"/>
              <add Value="456"/>
            </HintAttributeValues>
          </HintAttribute>
        </HintAttributes>

        <!-- below are rules for Transition -->
        <TransitionAttributes>
          <TransitionAttribute Name="SMARTCARD_REQUIRED">
            <TranAttributeValuesFrom>
              <add Value="false"/>
            </TranAttributeValuesFrom>
            <TranAttributeValuesTo>
              <add Value="*"/>
            </TranAttributeValuesTo>
          </TransitionAttribute>
          
          <TransitionAttribute Name="facsimileTelephoneNumber">
            <TranAttributeValuesFrom>
              <add Value="123"/>
              <add Value="456"/>
            </TranAttributeValuesFrom>
            <TranAttributeValuesTo>
              <add Value="*"/>
            </TranAttributeValuesTo>
          </TransitionAttribute>
        </TransitionAttributes>        
      </ADHint>
      
      <ADHint Num="2" Type="Create" DestOU="OU=4-gomel,OU=eGar Technology,DC=egar,DC=egartech,DC=com"  CardPolicy="Z">
        <HintAttributes>
          <HintAttribute Name="ACCOUNTDISABLE">
            <HintAttributeValues>
              <add Value="True"/>
            </HintAttributeValues>
          </HintAttribute>
          <HintAttribute Name="SMARTCARD_REQUIRED">
            <HintAttributeValues>
              <add Value="False"/>
            </HintAttributeValues>
          </HintAttribute>
          <HintAttribute Name="facsimileTelephoneNumber">
            <HintAttributeValues>
              <add Value="NULL"/>
              <add Value="*0"/>
            </HintAttributeValues>
          </HintAttribute>
        </HintAttributes>

        <QualityCheck>
          <CheckAttribute Name="mail">
          <CheckAttributeValues>
            <add Value="*asD"/>
            <add Value="qWe*"/>
            <add Value="*Dfg*"/>
          </CheckAttributeValues>
          </CheckAttribute>
          <CheckAttribute Name="userPrincipalName">
            <CheckAttributeValues>
              <add Value="*"/>
            </CheckAttributeValues>
          </CheckAttribute>
        </QualityCheck>
        
      </ADHint>
      
      
      <ADHint Num="3" Type="Create" DestOU="OU=Focus,OU=3-Vladimir,OU=eGar Technology,DC=egar,DC=egartech,DC=com"  CardPolicy="Z2">
        <HintAttributes>
          <HintAttribute Name="facsimileTelephoneNumber">
            <HintAttributeValues>
              <add Value="123"/>
              <add Value="456"/>
            </HintAttributeValues>
          </HintAttribute>
        </HintAttributes>
      </ADHint>
      
      <ADHint Num="4" Type="Terminate">
        <HintAttributes>
          <HintAttribute Name="memberOf">
            <HintAttributeValues>
              <add Value="CN=Group Policy Creator Owners,CN=Users,DC=egar,DC=egartech,DC=com"/>
              <add Value="CN=all_gomel,OU=_Groups,OU=1-Moscow,OU=eGar Technology,DC=egar,DC=egartech,DC=com"/>
            </HintAttributeValues>
          </HintAttribute>
          <HintAttribute Name="wwwhomepage">
            <HintAttributeValues>
              <add Value="Ohio"/>
              <add Value="Texas"/>
            </HintAttributeValues>
          </HintAttribute>
          <HintAttribute Name="facsimileTelephoneNumber">
            <HintAttributeValues>
              <add Value="123"/>
              <add Value="456"/>
            </HintAttributeValues>
          </HintAttribute>
        </HintAttributes>
      </ADHint>
    </ADHints>
  </ADHintSettings>
  
</configuration>